/*This is the background image for all pages in my website*/
body {
    background: url("http://wallpapercave.com/wp/4ZvVXu3.gif") no-repeat center center fixed;
    /*background-repeat: no-repeat;*/
    background-size: cover;
}

/*Navagation Bar */
#navbar {
    background-color: lightpink;
    text-align: left;
}

#navbar a {
    text-decoration: none;
}

#navbar li {
    display: inline-block;
    padding: 15px;
}

#box {
    width: 1350px;
    height: 10px;
    border: 2px;
    margin-top: 10px
}

/* Paragraph, Heading,and List Styling for whole website */
p {
    color: white;
}

h1 {
    color: rgb(242, 121, 121);
    text-align: center;
    background-color:rgb(160, 219, 207);
    border-radius: 20px;
    width: 300px;
}

ul {
    color: white;
}

h2 {
    color: white;
}

/*About Me Page*/
#backgroundbox {
    background-color: grey;
    width: 50%;
}

#whoIAm {
    position: relative;
    left: -30%;
    top: 30%;
}

#favFood {
    position: absolute;
    left: 50%;
    top: 12.5%;
    border-style: dotted;
    border-color: white;
}

#whoIAmFull {
    position: absolute;
    top: 12.5%;
    border-style: dotted;
    border-color: white;
}

#whoIAmPlusFav {
    display: inline-block;
}

#allOfHobbies {
    background-color: grey;
    position: absolute;
    bottom: 12%;
    right: 46%;
    color: white;
    border-style: dotted;
    border-color: white
}

#backgroundbox2 {
    background-color: grey;
}

#checkAboutMe {
    color: black;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 45%;
    font-size: 300%;
}

#WELCOME {
    color: lightblue;
    position: absolute;
    text-align: center;
    top: 10%;
    left: 48%;
    font-size: 750%;
}

#ToWebsite {
    color: white;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 49%;
    font-size: 450%;
}

#Pug {
    position: fixed;
    bottom: 13%;
    left: -5%;
    height: 300px;
    animation: walk 5s infinite;
    transition-duration: 3s;
}

@keyframes walk {
    0% {
        top: 0px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes walk {
    0% {
        top: 0px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}

#Pug2 {
    position: fixed;
    bottom: -53%;
    left: 11%;
    height: 550px;
    animation: walk 5s infinite;
    transition-duration: 3s;
}

@keyframes walk {
    0% {
        top: 0px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes walk {
    0% {
        top: 0px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 100px;
    }
    75% {
        top: 200px;
    }
    100% {
        top: 0px;
    }
}

/*Hardware Page*/
#Motherboard {
    position: relative;
    width: 350px;
}

#Motherboard2 {
    position: relative;
    width: 300px;
    left: 45%;
}

#motherbox {
    position: absolute;
    left: 350px;
    height: 200px;
    width: 600px;
    text-align: center;
    font-size: 145%;
}

#CPUbox {
    position: relative;
    left: 350px;
    height: 105px;
    width: 600px;
    text-align: center;
    font-size: 145%;
    margin-top: -10px;
}

#RAMbox {
    position: relative;
    left: 350px;
    height: 105px;
    width: 600px;
    text-align: center;
    font-size: 145%;
}

#HDbox {
    position: absolute;
    left: 350px;
    height: 105px;
    width: 600px;
    text-align: center;
    font-size: 145%;
}

#KMMbox {
    position: absolute;
    left: 350px;
    height: 105px;
    width: 600px;
    text-align: center;
    font-size: 145%;
}

#CPU {
    position: relative;
}

/*Todo List*/

#kitten {
    position: fixed;
    width: 70%;
    right: 1.05px;
    top: 58.25px;
}

/*How To Page 1*/

#blogbox {
    position: relative;
    text-align: center;
    font-size: 120%;
    width: 1000px;
    left: 130px;
}

#blogbox2 {
    position: relative;
    text-align: center;
    font-size: 120%;
    width: 1000px;
    left: 130px;
}

#blogbox3 {
    position: relative;
    text-align: center;
    font-size: 120%;
    width: 1000px;
    left: 130px;
}

.textClass {
    background-color: rgba(0, 0, 0, 0.5);
}

#blogbox4 {
    position: relative;
    text-align: center;
    font-size: 120%;
    width: 1000px;
    left: 130px;
}

#blogbox5 {
    position: relative;
    text-align: center;
    font-size: 120%;
    width: 1000px;
    left: 130px;
}  

#imgHowTo {
    display: block;
    margin: auto;
}

/*Calculator*/
#calAnswer {
    background-color: rgb(230, 255, 255);
    font-size: 20px;
    width: 10%;
    border-radius: 20px;
    text-align: center;
} 

#button1 {
    background-color: rgb(242, 121, 121);
    width: 35px;
    border-radius: 20px;
    text-align: center;
}

#dropdown {
    background-color: rgb(243, 163, 27);
    width: 35px;
    border-radius: 20px;
    text-align: center;
}

/*How To */
#cal1 {
    background-color: rgb(243, 163, 27);
    font-size: 20px;
    text-align: center;
    width: 60%;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    border-radius: 20px;
}

#cal2 {
    background-color: rgb(243, 163, 27);
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal3 {
    background-color: rgb(243, 163, 27);
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal4 {
    background-color: rgb(127, 232, 144);
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal5 {
    background-color: rgb(127, 232, 144);
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 38%;
    font-weight: bold;
    border-radius: 20px;
}

#cal6 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal7 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 19%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal8 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 26%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal9 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal10 {
    background-color: rgb(242, 121, 121);
    font-family: 'Indie Flower', cursive;
    width: 55%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal11 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal12 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 18%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal13 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal14 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 35%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal15 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal16 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal17 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal18 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal19 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal20 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal21 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 43%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal22 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 24%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal23 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal24 {
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 26%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}

#cal25 {
    background-color: rgb(243, 163, 27);
    font-family: 'Indie Flower', cursive;
    width: 65%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal26{
    background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 43%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#cal27{
   background-color: rgb(127, 232, 144);
    font-family: 'Indie Flower', cursive;
    width: 38%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px; 
}